.task_modal {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0;
  background-color: rgba(128, 128, 128, 0.671);
  top: 0px;
  right: 0px;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.mobile_view_task_modal {
  align-items: flex-end;
}
.createTaskModal_container {
  min-width: 50%;
  max-height: 100%;
  background-color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.moblie_view_createTaskModal_container {
  width: 100%;
}
.createTaskModal_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
}
.moblie_view_createTaskModal_heading {
  padding: 10px 20px;
}
.createTaskModal_heading p {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.divider {
  width: 100%;
  height: 2px;
  background-color: #2f2f2f18;
  margin-bottom: 10px;
}

.createTaskModal_container img {
  width: 12px;
  height: 12px;
}
.createTaskModal_container img:hover {
  cursor: pointer;
  width: 14px;
  height: 14px;
}
.createTaskModal_body {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 25px 25px 25px;
  overflow: scroll;
}

.taskTile {
  box-sizing: border-box;
  width: 100%;
  margin-top: 5px;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #aba8a8;
  font-size: 14px;
  font-weight: 500;
  outline: none;
}
.description_container {
  width: 100%;
  /* margin-top: 12px; */
  box-sizing: border-box;
  border: 1px solid #aba8a8;
  border-radius: 12px;
}

.description_input_container {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}
.description_input_container img {
  width: 16px;
  height: 16px;
  margin-right: 6px;
}
.description_input_container textarea {
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: #1e212a;
  width: 100%;
  outline: none;
  border: 0;
  resize: none;
}
.description_style_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px 5px 10px;
}
.description_style_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.description_style_icons p {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
}
.description_style_icons p:nth-child(-n + 3):hover {
  cursor: pointer;
}
.description_style_icons .make_bold {
  border: 0.5px light #2f2f2f;
  background-color: #1e212a;
  border-radius: 5px;
  color: #ffffff;
  padding: 2px 5px;
}

.description_style_icons img:hover {
  cursor: pointer;
}

.description_style_icons img {
  width: 14px;
  height: 14px;
}

.description_style_icons .description_divider {
  font-weight: 100;
  font-size: 25px;
  color: #aba8a8;
}

.description_letters_count {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 300;
  color: #aba8a8;
}

.task_type {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.mobile_view_task_type {
  flex-direction: column;
  gap: 10px;
}

.mobile_view_task_type .taskCategory_box,
.mobile_view_task_type .taskDueDate,
.mobile_view_task_type .taskStatu {
  gap: 2px;
}
.taskCategory_box,
.taskDueDate,
.taskStatu {
  /* width: 30%; */
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.taskStatu p,
.taskCategory_box p {
  margin: 0;
  font-size: 12px;
  color: #5a5959;
}
.taskCategory_btn {
  display: flex;
  gap: 10px;
}

.btn {
  box-sizing: border-box;
  border: 1px solid #aba8a8;
  background-color: #ffffff;
  font-size: 11px;
  font-weight: 600;
  color: #1e212a;
  border-radius: 30px;
  padding: 10px 25px 10px 25px;
}
.btn:hover {
  box-shadow: 1px 2px 2px #241e2aa9;
}
.btn_color {
  background-color: #7b1984;
  border: 0.25px solid black;
  box-shadow: 1px 1px #5a5959;
  color: white;
}
.work_btn {
  border-radius: 30px;
  padding: 10px 35px 10px 35px;
}

.taskDueDate p {
  margin: 0;
  font-size: 12px;
  color: #5a5959;
}
.taskDueDate input,
select {
  -webkit-appearance: initial;
  font-size: 12px;
  padding: 10px 0px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-transform: uppercase;
  background-color: #f9f9f9;
  font-weight: 500;
  color: #aba8a8;
  text-indent: 5px;
  outline: none;
  min-width: 160px;
  max-width: 40%;
}
.calendarIcon-add {
  width: 12px !important;
  height: 12px !important;
  top: 10%;
  left: 130px;
  cursor: pointer;
}

.attachment p {
  margin: 0;
  font-size: 12px;
  color: #5a5959;
  margin-top: 5px;
  margin-bottom: 5px;
}

.dropzone p {
  margin: 0;
}
.dropzone {
  width: 100%;
  box-sizing: border-box;
  padding: 15px 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f9f9f9;
}

.update-link {
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
}

.update-link:hover {
  text-decoration: underline;
}

.drop_file {
  width: 100%;
}

.createTaskModal_footer {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #d3d3d3;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #aba8a8;
  column-gap: 10px;
  padding: 10px;
}
.createTaskModal_footer button {
  padding: 12px 20px;
  border-radius: 20px;
  border: 1px solid #aba8a8;
  font-size: 14px;
}
.cancel_btn {
  background-color: #ffffff;
  color: #1e212a;
  font-weight: bold;
}
.create_btn {
  background-color: #7b1984;
  color: #f9f9f9;
  font-weight: bold;
}

.create_btn:hover {
  box-shadow: 1px 2px 2px #241e2aa9;
  cursor: pointer;
}

.cancel_btn:hover {
  box-shadow: 1px 2px 2px #241e2aa9;
  cursor: pointer;
}
.hidden {
  display: none;
}
