.task_card {
  background-color: #f1f1f1;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1.5px solid #d9d9d9;
  position: relative;
}
.first_task_box {
  width: 95%;
  display: flex;
  align-items: center;

  /* justify-content: space-between; */
}
.addTask {
  display: flex;
  align-items: center;
  width: 40%;
  padding-left: 10px;
  gap: 10px;
}
.square-checkbox {
  background-color: aqua;
}
.checkbox {
  width: 15px;
  height: 15px;
}
.circle-checkbox {
  width: 17px;
  height: 17px;
}

.duedate {
  width: 20%;
  text-align: left;
}
.drag_handler {
  width: 8.5px;
  height: 11.25px;
  margin-right: 4px;
}
.taskCategory {
  text-align: left;
  width: 20%;
}

.taskStatus {
  width: 20%;
  display: flex;
  cursor: pointer;
}
.taskStatus .taskStatus_option {
  border: 1px #dddadd;
  background-color: #dddadd;
  border-radius: 4px;
  padding: 4px 10px;
}
.modify_task_btn {
  width: 5%;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.modify_task_btn img {
  width: 16px;
  height: 4px;
}
.square-checkbox {
  accent-color: #7b1984;
}
