.category_option {
  background-color: #fff9f9;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  border: 1px solid #7b198426;
  box-shadow: 2px 2px 10px #7b198426;
  position: absolute;
  z-index: 1;
  top: 45px;
  left: 50px;
  overflow: hidden;
  text-align: left;
}
.category_option p {
  margin: 0;
  font-size: 12px;
  padding: 9px 13px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #fff9f9;
  color: black;
}
.category_option p:hover {
  font-weight: bold;
}
