.category_option {
  background-color: #fff9f9;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  border: 1px solid #b719c653;
  box-shadow: 3px 3px 3px #7b198426;
  position: absolute;
  z-index: 1;
  top: 40px;
  left: 56px;
  overflow: hidden;
  text-align: left;
}
.category_option p {
  margin: 0;
  font-size: 12px;
  padding: 9px 13px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #fff9f9;
  color: rgb(0, 0, 0) !important;
}
.category_option p:hover {
  font-weight: bold;
}
