.main_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: 10px;
  flex-wrap: wrap;
}
.filter_container {
  display: flex;
  align-items: center;
  position: relative;
  gap: 8px;
}

.filter_text {
  display: block;
  font-size: 12px;
  margin: 0;
  font-weight: 500;
}
.filter_option_box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.filter_dropDown {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #868080;
  border-radius: 60px;
  height: 30px;
  width: 90px;
  box-sizing: border-box;
  gap: 5px;
  cursor: pointer;
}
.filter_container p {
  margin: 0;
  font-size: 12px;
  font-size: 500;
  color: #868080;
}
.filter_container img {
  width: 8px;
  height: 5px;
}

.search_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search_box {
  display: flex;
  align-items: center;
  border-radius: 60px;
  border: 0.5px solid #868080;
  height: 36px;
  margin-right: 10px;
  padding: 0px 10px;
}
.search_box input {
  border: 0;
  outline: 0;
  margin-left: 5px;
}
.search_box img {
  width: 14px;
  height: 14px;
}

.addTask_btn {
  border-radius: 60px;
  background-color: #7b1984;
  border: 0.25px solid #fac3ff;
  font-weight: bold;
  font-size: 14px;
  color: white;
  padding: 9px 17px;
}
.addTask_btn:hover {
  box-shadow: 1px 2px 2px #241e2aa9;
  cursor: pointer;
}
.search_box:hover,
.category:hover,
.dueDate:hover {
  box-shadow: 0px 1px 3px rgb(192, 185, 185);
}

.main_container-moblie-view {
  flex-direction: column;
  align-items: normal;
}
.main_container-moblie-view .filter_container {
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
}
.main_container-moblie-view .search_container {
  width: 100%;
  flex-wrap: wrap;
}
.main_container-moblie-view .search_box {
  flex: 1;
}
.main_container-moblie-view .addTask_btn {
  font-size: 10px;
}

.reset {
  display: flex;
  align-items: flex-end;
  padding-bottom: 4px;
}

.reset p {
  color: black;
  font-weight: bold;
  cursor: pointer;
  font-size: 12px;
  text-decoration: underline;
}

.calendarIcon {
  width: 10px !important;
  height: 12px !important;
  top: 2%;
  left: 73%;
}

.dueDate {
  width: 120px;
  padding-left: 7px !important;
  cursor: pointer;
}

.customCalendar {
  border: 1px solid #868080;
  border-radius: 60px;
  outline: none !important;
  display: flex;
  align-self: flex-start;
}
