.header_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  

}
/* .logo_header {
  /* background-color: aqua; */

.logo {
  display: flex;
  align-items: center;
}
.logo p {
  margin: 0;
  margin-left: 12px;
  color: #2f2f2f;
  font-size: 24px;
  font-weight: 500;
}
.task_menu {
  display: flex;
}
.list {
  margin-right: 22px;
}
.menu {
  display: flex;
  align-items: center;
}

.menu img {
  height: 11px;
  width: 11px;
}
.menu p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  margin-left: 5px;
}
.menu:hover {
  cursor: pointer;
  border-bottom: 2px solid black;
}

.profile_header {
  display: flex;
  flex-direction: column;
}
.profile {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.profile img {
  margin-right: 5px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.profile p {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  color: #464545;
}
.logout_btn {
  border-radius: 12px;
  width: 108px;
  height: 40px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9f9;
  border: 0.25px solid #fac3ff;
}
.logout_btn p {
  font-size: 12px;
  font-weight: 500;
}
.logout_btn img {
  margin-right: 5px;
  width: 15px;
  height: 11px;
}
.logout_btn:hover{
  cursor: pointer;
  box-shadow: 1px 2px 2px #fac3ff;
}

