.login-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #fff9f9;
}
.login_bg {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100vw;
  z-index: -1;
}
.circle_bg {
  position: absolute;
  right: -50px;
  top: 50px;
  max-width: 60vw;
}
.dummy_img {
  position: absolute;
  right: 0px;
  display: flex;
  align-self: center;
  max-width: 50%;
}
.login-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
  flex-wrap: wrap;
  width: 30%;
  max-width: 365px;
  text-align: start;
  margin-left: 100px;
}
.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.logo-text {
  color: #7b1984;
  font-size: 26px;
  font-weight: bold;
  margin: 0;
  margin-left: 12px;
}
.login-btn {
  width: 100%;
  background-color: #292929;
  color: white;
  font-size: 22px;
  font-weight: bold;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.login-param {
  margin: 0;
  margin-top: 12px;
  margin-bottom: 24px;
  font-size: 12px;
  font-weight: 500;
}
.login-box-moblie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-box-moblie-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 350px;
  margin-left: 20px;
  margin-right: 20px;
}
.login-box-moblie-view img {
  width: 14px;
  height: 14px;
}
